<% include partials/header %>
  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Doctor visit</title>
</head>
<body style="background-color: #E7F3FF;">
    
</body>
</html>
<h1 style="margin:0;padding-left: 100px; color: navy; padding-top: 30px; background-color: #E7F3FF;"><i class="fa fa-user-md" aria-hidden="true" style="padding-right:10px ;"></i>Book my doctor!</h1>
        <p style="margin:0;padding-left: 250px; background-color: #E7F3FF;"> ~ We can help you find a doc! ~</p>
        
        <hr style="margin:0;">
        <br><br>

<form  style='padding-left: 100px;' method="POST" action="">
    <label for="date"><i class="fa fa-calendar" aria-hidden="true" style="padding-right: 5px;"></i> DATE</label>
    <input style="padding: 5px;" type="date" id="date"/>
    <br><br>
    <label><i class="fa fa-stethoscope" aria-hidden="true" style="padding-right: 5px;"></i>  Doctor Type</label>
    <select style="padding: 5px;">
        <option value="Neurologist">Neurologist</option>
        <option value="General Physician">General Physician</option>
        <option value="ENT">ENT</option>
        <option value="childcare specialist">childcare specialist</option>
        <option value="other">other</option>
    </select>
    <br><br>
    <label for="treatment"> <i class="fa fa-medkit" aria-hidden="true" style="padding-right: 5px;"></i>Treatment :</label>
    <br>
    <textarea name="" id="treatment" type='text' style="padding: 5px;" placeholder="What kind of treatments did you undergo?"></textarea>
    

    <br><br>
    <label for="note"> <i class="fa fa-comments-o" aria-hidden="true" style="padding-right: 5px;"></i>Short Note :</label>
    <br>
    <textarea name="" id="" style="padding: 5px;"type="text" id="note" placeholder="Is there something you want to share?"></textarea>

    <br><br>
    <input type="submit" value="Save" class="btn btn-primary"/>


</form>




<% include partials/footer %>