<% include partials/header %>
  


<form method="POST" action="">
    <label for="date"> DATE</label>
    <input type="date" id="date"/>
    <br>
    <label>Doctor Type</label>
    <select>
        <option value="Neurologist">Neurologist</option>
        <option value="General Physician">General Physician</option>
        <option value="ENT">ENT</option>
        <option value="childcare specialist">childcare specialist</option>
        <option value="other">other</option>
    </select>
    <br>
    <label for="treatment">Treatment</label>
    <input type="text" id="treatment"/>

    <br>
    <label for="note">Short Note</label>
    <input type="text" id="note"/>

    
    <input type="submit" value="Save"/>


</form>




<% include partials/footer %>