<% include partials/header %>
  


<form method="POST" action="">
    <label for="date"> Start DATE</label>
    <input type="date" id="date"/>
    <br>
    
    <label for="treatment">Medication Details</label>
    <input type="text" id="treatment" value="relpax,paracetamol etc."/>

    <br>
    <label for="date"> Reminder Frequency</label>
    <select>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
    </select>
    <select>
        <option value="day">day</option>
        <option value="week">week</option>
        <option value="month">month</option>
       
    </select>
    <br>

    <label for="note">Short Note</label>
    <input type="text" id="note"/>
    <br>

    
    <input type="submit" value="Save"/>


</form>




<% include partials/footer %>