<% include partials/header %>


<div class ="doctorVisit">
    <h1><a href="record/doctorvisit">record upcoming doctor visit</a></h1>

</div>
<div class ="record">
    <h1><a href="record/attackrecord">+record+</a></h1>

</div>
<div class ="medicationReminder">
    <h1><a href="record/medicationReminder">Medication Reminder</a></h1>

</div>
<div class ="Pressure">
    <h1>Pressure and weather updates</h1>

</div>
<% include partials/footer %>