html {
	background-color: #E7F3FF;
	margin: 0;
	padding: 0;
}

body {
	color: #1e1e1e;
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #E7F3FF;
	margin-top: 5%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Sans', sans-serif;
	color: #1e1e1e;
}

img {
	width: 100%;
}

p {
	color: #1e1e1e;
	font-family: 'Raleway', sans-serif;
}

.input {
	width: 80%;
	margin-bottom: 2%;
	border-radius: 5px;
	padding: 3px;
}

.search {
	width: 80%;
	border-radius: 5px;
	padding: 3px;
}

.searchButton {
	border-radius: 5px;
	padding: 3px;
}

.details {
	width: 90%;
	padding-top: 20%;
	margin-left: 5%;
	text-align: center;
	padding-bottom: 10%;
}

.row {
	background-color: #E7F3FF;
	color: #1e1e1e;
}

.box {
	background-color: #E7F3FF;
	color: #1e1e1e;
}

.home {
	padding: 2% 5%;
}

.warehouse {
	padding: 5% 20%;
	text-align: center;
	background-color: #E7F3FF;

}

#submit {
	border-radius: 5px;
	color: #E7F3FF;
	background-color: #1e1e1e;
	width: 80%;
	padding: 1% 0;
}

#palette {
	border-right: 1px solid #1e1e1e;
}

#paletteItems {
	padding-left: 5%;
	padding-bottom: 5%;
}

#prodInfo {
	padding-bottom: 10px;
}

#cart {
	background-color: #1e1e1e;
	color: #E7F3FF;
	margin: 15% auto;
	border-radius: 5px;
	padding: 1% 5%;
}

.store {
	padding: 5%;
	background-color: #E7F3FF;
}

.detail {
	width: 100%;
	padding: 5% 10%;
	background-color: #E7F3FF;
}

#details {
	padding: 0 5%;
}

#addToCart {
	background-color: #1e1e1e;
	border: 0 solid #E7F3FF;
	width: 100%;
	color: #E7F3FF;
	font-size: 20px;
}

.trailer {
	text-align: center;
}

#frame {
	width: 100%;
	height: 200px;
}

.cart {
	background-color: #E7F3FF;
	padding: 5% 10%;
}

#cartImage {
	width: 50%;
	margin-left: 25%;
}

#cartProduct {
	margin: 15% auto;
}

#dropdown {
	width: 80%;
	margin-bottom: 2%;
	border-radius: 5px;
}

#checkout {
	background-color: #1e1e1e;
	color: #E7F3FF;
	text-align: center;
	width: 40%;
	margin-left: 30%;
	border-radius: 5px;
	padding: 1%;
}

.acknowledge {
	background-color: #E7F3FF;
	padding: 10%;
	text-align: center;
}

.history {
	background-color: #E7F3FF;
	width: 100%;
	padding: 5% 20%;
}

#emptyMsg {
	text-align: center;
	padding-top: 10%;
}

.container {
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Josefin Sans', sans-serif;
}

#companyName {
	padding-left: 5%;
}

nav {
	background-color: #1e1e1e !important;
}

.fa.fa-navicon {
  color: #E7F3FF;
  width: 100%;
}

#editBtn {
	background-color: #E7F3FF;
	color: #1e1e1e;
	border: 0px solid #E7F3FF;
}

#completed {
	background-color: #1e1e1e;
	color: #E7F3FF;
	text-align: center;
	border-radius: 5px;
	padding: 1% 5%;
}

.profile {
	padding: 15% 10%;
	background-color: #E7F3FF;
	color: #1e1e1e;
	text-align: center;
}

#profileDetails {
	width: 60%;
	border-radius: 5px;
}

#profileBtn {
	background-color: #1e1e1e;
	color: #E7F3FF;
	text-align: center;
	border-radius: 5px;
	padding: 1% 5%; 
}

.profilePage {
	padding: 5% 10%;
	background-color: #E7F3FF;
	color: #1e1e1e;
	text-align: center;
}













